# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.env

# Local raw dataset
01_data/raw/*
!01_data/raw/.gitkeep
!01_data/raw/README.md

# Local cleaned exports
01_data/cleaned/*.csv

# Local generated outputs
05_outputs/*.csv
